<div class="desniBarSiroki" id="prosireaDesnaTraka">
    <div id="login">
        @Html.Partial("Login", new Online_Stamparija.Models.Korisnik());
    </div>
    <div id="zaborLoz" style="display:none">
        @Html.Partial("ForgotPass");
    </div>
</div>
