<form action="~/Account/Login" method="get">
    <ul>
        <li>
            @Html.AntiForgeryToken()
        </li>
        <li>
            <h3>
                <a href="javascript:pokaziSakrij('login'); pokaziSakrij('zaborLoz');">
                    <img src="~/Images/lef.B.png" class="iconButtonBijeli mali" />
                    <span>Nazad</span>
                </a>
            </h3>
        </li>
        <li>
            <label>Email</label>
        </li>
        <li>
            <input type="email" name="email" />
        </li>
        <li>

            <input type="submit" />
        </li>
    </ul>
</form>