@model Online_Stamparija.Models.Posao


<div class="okvir header" style="padding-bottom:19px">

    <h4 class="header" id="naslov">
        @Html.DisplayFor(model => model.Naziv)
    </h4>
    <span style="position:absolute; right:0px; top:0px">
        @Html.DisplayFor(model => model.Status)
    </span>

</div>