@model object
@if(Model != null && Model.ToString() != "")
{
    <div class="upozorenje greska" id="greska">
        <a href="#" class="close" data-dismiss="alert" style="position:absolute; right:0; top:0; margin:7px">&times;</a>
        <span>@Model</span>
    </div>
}