@model IEnumerable<Online_Stamparija.Models.Posao>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("Upozorenja/Greska", (TempData["Error"] ?? "").ToString())

<h3>Poslovi</h3>

<p>
    @Html.ActionLink("+ Novi posao", "Create")
</p>

<div id="poslovi"></div>
<div id="dodavanjePosla" style="visibility:hidden">
    <img src="~/Images/loading.gif" /><span>Učitavanje posla ...</span>
</div>

<script>
    window.onscroll = function () { UcitajPoslove() };
    var posloviDiv = document.getElementById('poslovi');
    var posaoId = 0;
    var brojUcitavanja = 0;

    if (posloviDiv.scrollHeight < 30) {
        UcitajPoslove();
    }

    function UcitajPoslove() {
        var a = (document.body.scrollTop + window.innerHeight);
        if (screen.height > posloviDiv.scrollHeight || document.body.scrollHeight == a ) {
            document.getElementById('dodavanjePosla').style.visibility = 'visible';
            document.body.style.cursor = 'progress';
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {

                    if (xhttp.responseText == '') {
                        document.getElementById('dodavanjePosla').style.visibility = 'hidden';
                        document.body.style.cursor = 'default';
                        return;
                    }
                    var ids = xhttp.responseText.split(';');
                    for (var i = 0; i < ids.length; i = i + 1) {
                        brojUcitavanja = brojUcitavanja + 1;
                        UcitajPosao(ids[i]);
                    }
                }
            };
            xhttp.open("GET", "/Posao/DajPosloveId?pocIndeks=" + posaoId + "&brojposlova=1", true);
            posaoId = posaoId + 1;
            xhttp.send();
        } else {
            document.getElementById('dodavanjePosla').style.visibility = 'hidden';
            document.body.style.cursor = 'default';
            return;
        }
    }

    function UcitajPosao(currPosaoId) {
        var client = new XMLHttpRequest();
        client.onreadystatechange = function () {
            if (client.readyState == 4 && client.status == 200) {
                document.getElementById("poslovi").innerHTML = posloviDiv.innerHTML + client.responseText;
                //document.getElementById('dodavanjePosla').style.visibility = 'hidden';
                brojUcitavanja = brojUcitavanja - 1;
                if (screen.height > posloviDiv.scrollHeight && brojUcitavanja == 0) {
                    document.getElementById('dodavanjePosla').style.visibility = 'hidden';
                    document.body.style.cursor = 'default';
                    UcitajPoslove();
                }
            }
        };
        client.open("GET", "/Posao/DajPosaoPartialView?posaoId=" + currPosaoId, true);
        client.send();
    }
</script>