@model IEnumerable<Online_Stamparija.Models.Korisnik>

@{
    ViewBag.Title = "Administrativna ploca";
}
@Html.Partial("Upozorenja/Greska", TempData["Error"])

<div class="desniBarSiroki" id="prosireaDesnaTraka" style="display:none">
    <ul>
        <li>
            <h3>
                <a href="javascript: pokaziSakrij('prosireaDesnaTraka'); pokaziSakrij('obicnaDesnaTraka')">
                    <img src="~/Images/lef.B.png" class="iconButtonBijeli mali" />
                    <span>Nazad</span>
                </a>
            </h3>
        </li>
        <li>
            <div id="noviKorisnik">
                @Html.Partial("NoviKorisnik", new Online_Stamparija.Models.Korisnik())
            </div>
        </li>
    </ul>
</div>
<br />
<h2>Administrativna ploča</h2>

<div>
    @foreach(var item in Model.Where(m => m.Aktivan == 1))
    {
        @Html.Partial("Korisnik", item);
    }
</div>
@if(Model.Any(m => m.Aktivan != 1))
{
    <h4>Banovani korisnici</h4>
    <hr />
    foreach(var item in Model.Where(m => m.Aktivan != 1))
    {
        @Html.Partial("Korisnik", item);
    }
}