body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.iconButton {
    border-radius: 25px;
    background-image: url("../Images/basecircle.png");
    background-size: contain;
    width: 50px;
    margin-left: 13px;
    margin-right: 13px;
}

    .iconButton:hover {
        background-color: rgba(39, 36, 36, 0.3);
    }

.iconButtonBijeli {
    border-radius: 25px;
    background-image: url("../Images/basecircle.B.png");
    background-size: contain;
    width: 50px;
    margin-left: 13px;
    margin-right: 13px;
}

    .iconButtonBijeli:hover {
        background-color: rgba(39, 36, 36, 0.3);
    }

    .iconButtonBijeli.mali {
        width: 33px;
    }

.metroButton {
    max-width: 81px;
    max-height: 150px;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 !important;
}

    .metroButton a {
        max-width: 81px;
        text-decoration: none;
        color: #838383;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0 !important;
        text-align: center;
        text-align: center;
    }

    .metroButton img {
        width: 75px;
        height: 75px;
        margin: auto;
    }

    .metroButton:hover img {
        background-color: rgba(39, 36, 36, 0.3);
        width: 75px;
        height: 75px;
        margin: auto;
    }

    .metroButton:hover span {
        background-color: rgba(39, 36, 36, 0.3) !important;
        text-decoration: none;
        color: #FFF;
        width: 100%;
    }

    .metroButton span {
        word-wrap: break-word;
        text-align: center;
    }

.desniBar {
    background-color: #222222;
    width: 91px;
    top: 0px;
    right: 0px;
    position: fixed;
    height: 100%;
    padding-top: 75px;
    vertical-align: middle;
    overflow-wrap: break-word;
    z-index: 1;
    overflow-y: auto;
}

    .desniBar td {
        padding: 0;
        max-width: 91px;
    }

.desniBarSiroki {
    background-color: #222222;
    width: 320px;
    right: 0px;
    position: fixed;
    height: 100%;
    bottom: 0;
    padding-top: 55px;
    vertical-align: middle;
    margin: 0;
    padding-left: 0;
    overflow-y: scroll;
    z-index: 1;
}

    .desniBarSiroki ul {
        padding-left: 10px;
    }

    .desniBarSiroki label {
        color: #838383;
        margin-left: 0;
        margin-top: 15px;
        padding: 0;
    }

    .desniBarSiroki h4 {
        color: #999999;
        margin-left: 0;
        margin-top: 15px;
        padding: 0;
    }

    .desniBarSiroki select {
        width: 100%;
        margin-bottom: 15px;
    }

    .desniBarSiroki input {
        width: 100%;
        margin-bottom: 15px;
    }


        .desniBarSiroki input[type=submit] {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            background-color: transparent;
            color: #838383;
            border-radius: 0;
            border-width: 3px;
        }

            .desniBarSiroki input[type=submit]:hover {
                background-color: rgba(39, 36, 36, 0.3);
            }

        .desniBarSiroki input[type=button] {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            background-color: transparent;
            color: #838383;
            border-radius: 0;
            border-width: 3px;
        }

            .desniBarSiroki input[type=button]:hover {
                background-color: rgba(39, 36, 36, 0.3);
            }

        .desniBarSiroki input[type="checkbox"] {
            display: none;
            float: right;
        }

            .desniBarSiroki input[type="checkbox"] + label span {
                display: inline-block;
                width: 50px;
                height: 19px;
                margin: -1px 4px 0 0;
                vertical-align: middle;
                background: url(../Images/switch.off.B.png) left top no-repeat;
                cursor: pointer;
            }

            .desniBarSiroki input[type="checkbox"] + label {
                display: inline-block;
                float: right;
            }

            .desniBarSiroki input[type="checkbox"]:checked + label span {
                background: url(../Images/switch.on.B.png) top no-repeat;
                width: 50px;
                height: 19px;
            }

    .desniBarSiroki a {
        margin-top: 25px;
        margin-bottom: 15px;
        padding-top: 25px;
        padding-bottom: 15px;
    }

    .desniBarSiroki ul {
        list-style-type: none;
    }

.sirokaKolona {
    margin: 3px 0px 0px 3px;
    padding: 3px;
    text-align: center;
    width: 81px;
}

    .sirokaKolona td {
        text-align: center;
    }

    .sirokaKolona span {
        font-size: 11px;
    }

.okvir {
    min-width: 250px;
    border: 3px solid black;
    margin: 25px;
    padding: 15px 15px 0 15px;
    display: inline-block;
    clear: both;
    position: relative;
}

    .okvir.siroki {
        min-width: 756px;
    }

    .okvir.uski {
        min-width: 128px;
        margin: 5px;
    }
    .okvir.upozorenje1{
        border-color:red;
    }

.footer {
    vertical-align: bottom;
    position: relative;
    bottom: 0px;
}

.floatRight {
    position: relative;
    right: 0px;
    margin: 0;
    padding: 0;
}

    .floatRight image {
        vertical-align: top;
        top: 0px;
    }

.header {
    position: relative;
}

    .header > img {
        position: absolute;
        top: 0px;
    }

.upozorenje {
    position: absolute;
    left: 0;
    top: 100px;
    border: 2px solid black;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 25px;
}

    .upozorenje p {
        white-space: pre;
    }

    .upozorenje.greska {
        background-color: rgba(250,128,128,0.7);
    }
