@{
    ViewBag.Title = "Home Page";
}

<div>
    @if(Online_Stamparija.Models.LogovaniKorisnik.Instanca.UserName == null)
    {
        @Html.Partial("Trake/Login")
    }
    <div class="jumbotron">
        <h1>Online Štamparija</h1>
    </div>

    @Html.Partial("Upozorenja/Greska", TempData["Error"])

    <div class="row" style="margin:25px">
        <div>
            Ovo je neki iscrpan opis o Online Štampariji čija je ovo web stranica.
            <br />Ovdje piše:<ul><li>čime se bave</li><li>šta rade</li><li>da su najbolji u mahali a i šire</li></ul> i tako dalje
        </div>
    </div>
</div>