<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="MySqlConnectionString" connectionString="server=www.db4free.net;Port=3306;database=onlinstamparija;UID=onlinestamparija;password=GEpbiHicpeH0"/>-->
    <add name="MySqlConnectionString1" connectionString="server=buycooltshirt.com;Port=3306;database=wizardlp_testna;UID=wizardlp_snje;password=random995"/>
    <add name="MySqlConnectionString" connectionString="server=127.0.0.1;Port=3306;database=onlinestamparija;UID=root;password=GEpbiHicpeH0"/>
  </connectionStrings>
</configuration>